.about {
  margin: 1rem 0 1rem 1rem;
  padding: 0 2rem 1rem;
  min-height: 300px;
}

.about h1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 0 0 0 1rem;
  position: relative;
}

.about h1::after {
  content: "";
  width: 250px;
  height: 4px;
  background: var(--heading-underline-color);
  position: absolute;
  bottom: -5px;
  left: 0.2rem;
}

.about p {
  font-size: 1.35rem;
  font-weight: 450;
  padding: 0 1rem;
  text-align: justify;
}

@media screen and (max-width: 500px) {
  .about {
    margin: 0;
    padding: 1rem;
  }
}
