.committee {
  margin: 0 1rem;
  padding: 1rem;
}

.post {
  margin: 1rem 5rem;
  background-image: linear-gradient(45deg, #2d70f77a, #664cf98a);
  padding: 0.5rem 5vw;
  border-radius: 10px;
}

.post_title {
  text-align: center;
  font-size: 1.75rem;
  font-weight: 700;
  color: #ffffff;
}

.persons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.person_card {
  width: 300px;
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 5px;
  background-color: #ffffff88;
}

.person_profile {
  border-radius: 50%;
  margin-left: 40px;
}

.person_title {
  font-size: 1.125rem;
  font-weight: 500;
  text-align: center;
}

@media screen and (max-width: 900px) {
  .post {
    padding: 0.5rem 14vw;
  }
}
