.footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color: var(--text-color-light);
  min-height: 250px;
  padding: 1rem 2rem;
  font-size: 1.125rem;
}

.footer_logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 170px;
}

.line {
  border-right: 2px solid var(--navbar-color);
}

.footer_logo img {
  width: 80px;
  height: 80px;
  padding: 5px;
}

.contact_info {
  width: 350px;
  margin-right: 2rem;
}

.quick_links h2,
.contact_info h2 {
  font-size: 1.5rem;
  font-weight: 700px;
  border-bottom: 4px solid var(--heading-underline-color);
}

.quick_links ul li a {
  text-decoration: none;
  color: var(--button-color-dark);
}

.quick_links li {
  list-style-type: none;
  position: relative;
  padding-left: 15px;
}

.quick_links li:before {
  content: "\25BA \0020";
  font-size: 20px;
  position: absolute;
  top: -2px;
  left: -10px;
}

.copyright {
  margin-bottom: 1rem;
  background-color: var(--text-color-light);
  font-size: 0.875rem;
  text-align: center;
}

@media screen and (max-width: 1200px) {
  .contact_info {
    width: 300px;
  }

  .quick_links {
    width: 300px;
  }
}

@media screen and (max-width: 800px) {
  .footer {
    align-items: normal;
  }
  .contact_info {
    width: 250px;
  }

  .quick_links {
    width: 250px;
  }

  .copyright {
    font-size: 0.625rem;
  }
}
