.navbar {
  width: 96vw;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--navbar-color);
  padding: 0.5rem 0rem 0.5rem 3rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  position: fixed;
  z-index: 9999;
}

.logo {
  width: 60px;
  height: 60px;
}

.left a {
  text-decoration: none;
  display: flex;
}

.nav_text {
  font-size: 2rem;
  padding: 0.5rem 0.5rem;
  font-weight: 500;
  color: var(--text-color-light);
}

.navbar_items {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.navbar_items li {
  margin-right: 1.75rem;
  font-size: 1.25rem;
  font-weight: 500;
  position: relative;
  cursor: pointer;
}

.navbar_items li a {
  color: var(--text-color-light);
  text-decoration: none;
}

.navbar_items li a:hover {
  color: var(--navbar-highlight-color);
}

.navbar_items li a:hover::after {
  content: "";
  width: 100%;
  height: 2px;
  background: var(--navbar-highlight-color);
  position: absolute;
  bottom: -4px;
  left: 0px;
}

.toggle {
  color: var(--navbar-highlight-color);
  font-size: 1.75rem;
  font-weight: 00;
  display: none;
  margin-right: 2rem;
}

@media screen and (max-width: 1000px) {
  .navbar {
    padding-left: 2rem;
  }
  .logo {
    width: 50px;
    height: 50px;
  }

  .navbar_items li {
    margin-right: 0.75rem;
  }
}

@media screen and (max-width: 700px) {
  .navbar_items {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 50px;
    right: -300px;
    width: 200px;
    height: 99vh;
    background-color: var(--navbar-color);
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    padding: 20px 0 0 10px;
  }

  .show {
    right: 0px;
  }

  .navbar_items li {
    margin-bottom: 1rem;
  }

  .toggle {
    display: block;
  }
}

@media screen and (max-width: 400px) {
  .navbar {
    width: 99vw;
  }
}
