.tracks {
  padding: 0 3rem 1rem;
}

.tracks h1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 0 0 0 1rem;
  position: relative;
  color: var(--navbar-highlight-color);
}

.tracks h1::after {
  content: "";
  width: 250px;
  height: 4px;
  background: var(--heading-underline-color);
  position: absolute;
  bottom: -5px;
  left: 0.5rem;
}

.track_headers {
  width: 90vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.track {
  width: 250px;
  margin: 0.5rem 1rem;
  background-color: var(--button-color-dark);
  color: var(--text-color-light);
  padding: 0.5rem;
  border-radius: 10px;
  font-weight: 600;
  font-size: 1.25rem;
  text-align: center;
  cursor: pointer;
}

.active {
  color: var(--button-highlight-color);
  font-weight: 650;
}

.track_fields {
  width: 80vw;
  margin-left: 4vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  padding: 0.5rem 1.5rem;
}

.field {
  font-size: 1.125rem;
  font-weight: 450;
}

.register {
  margin: 2rem 0 2rem 37vw;
  padding: 1rem 2rem;
  background-color: var(--button-color-dark);
  border: 2px solid var(--text-color-light);
  border-radius: 10px;
  cursor: pointer;
}

.register a {
  color: var(--text-color-light);
  text-decoration: none;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
}

.register a:hover {
  color: var(--button-highlight-color);
}

@media screen and (max-width: 900px) {
  .tracks {
    padding: 1rem;
  }
  .track_headers {
    width: 90vw;
  }
  .track_fields {
    width: 87vw;
    flex-direction: column;
    align-items: start;
    margin: 1vw;
  }
  .register {
    margin: 2rem 0 2rem 27vw;
  }
}

@media screen and (max-width: 600px) {
  .track_headers {
    flex-direction: column;
    margin-top: 1rem;
  }

  .track_fields {
    width: 80vw;
    margin: 0;
  }

  .track {
    width: 80vw;
  }

  .register {
    margin: 2rem 0 2rem 12vw;
  }
}
