:root {
  --navbar-color: #111111;
  --navbar-highlight-color: #fb7500;
  --text-color-light: #fdfdfd;
  --text-highlight-color: #22c402;
  --heading-underline-color: #0090b4;
  --button-color-dark: #4b09db;
  --button-highlight-color: #fff000;
  --committee-card-background: #0090b477;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
